/*浏览页的装饰*/

#browse {
    text-decoration: underline;
}

/*设定导航栏和主要部分的宽度*/
nav {
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
}

main {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
}


/*响应式布局，如果浏览器宽度太小，将不显示导航栏*/
@media screen and (max-width: 480px) {
    nav {
        display: none;
    }

    main {
        flex-basis: 100%;
    }
}

/*设定导航栏下卡片的宽度，保证有合适的留白*/
nav > * {
    flex-basis: 50%;
}

#imgBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#imgBox a {
    flex-basis: 20%;
    margin: 1%;
}

