/*主页的样式*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 80%;
}
main>img{
    flex-basis: 100%;
}
#homepageImageDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
}

#home{
    text-decoration: underline;
}
footer{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}
footer>div{
    flex-basis: 70%;
}

