main{
    flex-basis: 100%;
}
#search{
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    #searchOptionBox>.card-body{
        display: flex;
        flex-wrap: wrap;
    }
    #searchOptionBox>.card-body>*{
        flex-basis: 100%;
    }
}